!!! 5
%html
  %head
    %meta{ charset: "utf-8" }

    %title= current_page.data.title || "The Middleman"

    = stylesheet_link_tag "normalize", "all"

    = yield_content :head

  %body{ class: page_classes }

    = yield

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
    = javascript_include_tag  "all"
    = yield_content :bottom
